<style type="text/css">
	.table thead tr th{
		text-align: center;
	}
</style>

<h2 class="text-center">{%= __(report.report_name) %}</h2>
<hr>
<table class="table table-bordered">
	<thead>	

		<tr>
			<th style="width: 15%" rowspan="3">{%= __("S/N") %}</th>
			<th style="width: 15%" rowspan="3">{%= __("Date") %}</th>
			<th style="width: 15%" rowspan="3">{%= __("Name of client") %}</th>
			<th style="width: 15%" rowspan="3">{%= __("Client number") %}</th>
			<th style="width: 15%" rowspan="3">{%= __("Age") %}</th>
			<th style="width: 15%" rowspan="3">{%= __("Type of Visit") %}</th>
			<th style="width: 15%" rowspan="3">{%= __("Parity") %}</th>
			<th style="width: 15%" rowspan="3">{%= __("Antenatal Clinic Attendance") %}</th>
			<th style="width: 15%" rowspan="3">{%= __("Age of pregnancy") %}</th>
			<th style="width: 15%" rowspan="3">{%= __("No. of antenatal clinic visit(s) to date") %}</th>
			<th style="width: 15%" rowspan="3">{%= __("ANC HIV counseling & testing") %}</th>
			<th style="width: 15%" colspan="2">{%= __("ANC Partners' Testing") %}</th>
			<th style="width: 15%" colspan="2">{%= __("Syphilis Testing & Treatment") %}</th>
		</tr>
		<tr>
			<th style="width: 15%" rowspan="2">{%= __("Partners of HIV pos. pregnant women") %}</th>
			<th style="width: 15%" rowspan="2">{%= __("Partners of HIV neg. pregnant women") %}</th>
			<th style="width: 15%" rowspan="2">{%= __("Testing") %}</th>
			<th style="width: 15%" rowspan="2">{%= __("Treated") %}</th>
		</tr>
	</thead>

	<tbody>
		{% for(var i=0, l=data.length; i<l; i++) { %}
			<tr>
				<td>{%= i+1 %}</td>
				<td>{%= data[i]["Date"] %}</td>
				<td>{%= data[i]["Patient Name"] %}</td>
				<td>{%= data[i]["Patient"] %}</td>
				<td>{%= data[i]["Age"] %}</td>
				<td>{%= data[i]["Type of Visit"] %}</td>
				<td>{%= data[i]["Parity"] %}</td>
				<td>{%= data[i]["Antenatal Clinic Attendance"] %}</td>
				<td>{%= data[i]["Age of pregnancy"] %}</td>
				<td>{%= data[i]["No. of antenatal clinic visit(s) to date"] %}</td>
				<td>{%= data[i]["ANC HIV counseling & testing"] %}</td>
				<td>{%= data[i]["Partners of HIV pos. pregnant women"] %}</td>
				<td>{%= data[i]["Partners of HIV neg. pregnant women"] %}</td>
				<td>{%= data[i]["Testing"] %}</td>
				<td>{%= data[i]["Treated"] %}</td>

			</tr>
		{% } %}

		{% for(var i=0, l=18-data.length; i<l; i++) { %}
			<tr style="height: 20px;">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>

			</tr>
		{% } %}

	</tbody>
</table>


<br><br><br>


<table class="table table-bordered">
	<thead>	

		<tr>
			<th style="width: 15%" rowspan="3">{%= __("HB/PCV") %}</th>
			<th style="width: 15%" colspan="2">{%= __("Urinalysis") %}</th>
			<th style="width: 15%" rowspan="3">{%= __("LLIN given") %}</th>
			<th style="width: 15%" rowspan="3">{%= __("Doses of IPT given") %}</th>
			<th style="width: 15%" rowspan="3">{%= __("Hematinics Given") %}</th>
			<th style="width: 15%" rowspan="3">{%= __("TT indicate") %}</th>
			<th style="width: 15%" rowspan="3">{%= __("Associated problems") %}</th>
			<th style="width: 15%" rowspan="3">{%= __("Outcome of visit") %}</th>
			<th style="width: 15%" colspan="3">{%= __("Postnatal Care") %}</th>
		</tr>
		<tr>
			<th style="width: 15%" rowspan="2">{%= __("Sugar") %}</th>
			<th style="width: 15%" rowspan="2">{%= __("Proteins") %}</th>
			<th style="width: 15%" rowspan="2">{%= __("Mother & Newborn") %}</th>
			<th style="width: 15%" colspan="2">{%= __("Newborn Care") %}</th>
		</tr>
		<tr>
			<th style="width: 15%">{%= __("Neonatal Complications") %}</th>
			<th style="width: 15%">{%= __("KMC") %}</th>
		</tr>
	</thead>

	<tbody>
		{% for(var i=0, l=data.length; i<l; i++) { %}
			<tr>
				<td>{%= data[i]["HB/PCV"] %}</td>
				<td>{%= data[i]["Sugar"] %}</td>
				<td>{%= data[i]["Proteins"] %}</td>
				<td>{%= data[i]["LLIN given"] %}</td>
				<td>{%= data[i]["Doses of IPT given"] %}</td>
				<td>{%= data[i]["Hematinics Given"] %}</td>
				<td>{%= data[i]["TT indicate"] %}</td>
				<td>{%= data[i]["Associated problems"] %}</td>
				<td>{%= data[i]["Outcome of visit"] %}</td>
				<td>{%= data[i]["Mother & Newborn"] %}</td>
				<td>{%= data[i]["Neonatal Complications"] %}</td>
				<td>{%= data[i]["KMC"] %}</td>

			</tr>
		{% } %}


		{% for(var i=0, l=18-data.length; i<l; i++) { %}
			<tr style="height: 20px;">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>

			</tr>
		{% } %}

	</tbody>
</table>