<style type="text/css">
	.table thead tr th{
		text-align: center;
		width: 15%;
	}
	.table thead tr th p{
		transform: rotate(270deg);
    	margin: 42px -50px 3px !important;

	}
</style>

<h2 class="text-center">{%= __(report.report_name) %}</h2>
<hr>
<table class="table table-bordered">
	<thead>	
		<tr>
		    <th rowspan="3">Date</th>
		    <th rowspan="3">Patient Name</th>
		    <th rowspan="3">Patient no.</th>
		    <th rowspan="3">Age</th>
		    <th rowspan="3">Type of Client</th>
		    <th rowspan="3">Parity</th>
		    <th rowspan="3">HIV Counseling Testing at L&amp;D</th>
		    <th rowspan="3">Date Of Delivery</th>
		    <th rowspan="3">Mode Of Delivery</th>
		    <th rowspan="3">Pertograph Used</th>
		    <th rowspan="3">Actre Managment of 3rd Stage of Labour used</th>
		    <th rowspan="3">Mearned Couple Holeth Sean</th>
		    <th colspan="9">Pregnancy outcome</th>
		    <th rowspan="3">Sex Of Baby</th>
		    <th rowspan="3">Who took delivery of child</th>
		    <th rowspan="3">Immerdere Now born care bror blod</th>
		    <th rowspan="3">Excheuse Breast Deeing Alam</th>
		    <th rowspan="3">Name of Person Who took delivery</th>
		  </tr>
		  <tr>
		    <th colspan="3">Mother</th>
		    <th colspan="6">Baby</th>
		  </tr>
		  <tr>
		    <th>Alive</th>
		    <th>Dead</th>
		    <th>Wow media counducted</th>
		    <th>Aborthon</th>
		    <th>prereturn</th>
		    <th>Either auphyske</th>
		    <th>Live birth</th>
		    <th>Still birth</th>
		    <th>Dead</th>
		  </tr>
	</thead>

	<tbody>
		{% for(var i=0, l=data.length; i<l; i++) { %}
			<tr>
				<td>{%= i+1 %}</td>
				<td>{%= data[i]["Date"] %}</td>
				<td>{%= data[i]["Patient Name"] %}</td>
				<td>{%= data[i]["Patient no."] %}</td>
				<td>{%= data[i]["Age"] %}</td>
				<td>{%= data[i]["Type of Client"] %}</td>
				<td>{%= data[i]["Parity"] %}</td>
				<td>{%= data[i]["HIV Counseling Testing at L&D"] %}</td>
				<td>{%= data[i]["Date Of Delivery"] %}</td>
				<td>{%= data[i]["Mode Of Delivery"] %}</td>
				<td>{%= data[i]["Pertograph Used"] %}</td>
				<td>{%= data[i]["Actre Managment of 3rd Stage of Labour used"] %}</td>
				<td>{%= data[i]["Mearned Couple Holeth Sean"] %}</td>
				<td>{%= data[i]["Alive"] %}</td>
				<td>{%= data[i]["Dead"] %}</td>
				<td>{%= data[i]["Wow media counducted"] %}</td>
				<td>{%= data[i]["Aborthon"] %}</td>
				<td>{%= data[i]["prereturn"] %}</td>
				<td>{%= data[i]["Either auphyske"] %}</td>
				<td>{%= data[i]["Live birth"] %}</td>
				<td>{%= data[i]["Still birth"] %}</td>
				<td>{%= data[i]["Dead"] %}</td>
				<td>{%= data[i]["Sex Of Baby"] %}</td>
				<td>{%= data[i]["Who took delivery of child"] %}</td>
				<td>{%= data[i]["Immerdere Now born care bror blod"] %}</td>
				<td>{%= data[i]["Excheuse Breast Deeing Alam"] %}</td>
				<td>{%= data[i]["Name of Person Who took delivery"] %}</td>
				
			</tr>
		{% } %}

		{% for(var i=0, l=30-data.length; i<l; i++) { %}
			<tr style="height: 20px;">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				
			</tr>
		{% } %}

	</tbody>
</table>

