<style type="text/css">
	.table thead tr th{
		text-align: center;
		width: 15%;
	}
	.table thead tr th p{
		transform: rotate(270deg);
    	margin: 42px -50px 3px !important;

	}
</style>

<h2 class="text-center">{%= __(report.report_name) %}</h2>
<hr>
<table class="table table-bordered">
	<thead>	

		<tr>
		    <th rowspan="2">S/N</th>
		    <th rowspan="2">Date</th>
		    <th rowspan="2">Name of client</th>
		    <th rowspan="2">Sex</th>
		    <th rowspan="2">Client number</th>
		    <th rowspan="2">Date of birth</th>
		    <th rowspan="2">Age</th>
		    <th rowspan="2">Type of visit</th>
		    <th rowspan="2">Breast feeding</th>
		    <th rowspan="2"><p>Stopped B/F</p></th>
		    <th rowspan="2">Height</th>
		    <th rowspan="2">Weight</th>
		    <th rowspan="2">Nutritional Status</th>
		    <th rowspan="2">Vitamin A supplement</th>
		    <th rowspan="2">Children receive Deworming tablet</th>
		    <th rowspan="2">Children referred/ admitted into CMAM program</th>
		    <th colspan="2">Severe Acute Malnutrition(SAM)</th>
		  </tr>
		  <tr>
		    <th>Eligible for SAM treatment</th>
		    <th>Outcome of Treatment</th>
		  </tr>
	</thead>

	<tbody>
		{% for(var i=0, l=data.length; i<l; i++) { %}
			<tr>
				<td>{%= i+1 %}</td>
				<td>{%= data[i]["Date"] %}</td>
				<td>{%= data[i]["Name of client"] %}</td>
				<td>{%= data[i]["Sex"] %}</td>
				<td>{%= data[i]["Client number"] %}</td>
				<td>{%= data[i]["Date of birth"] %}</td>				
				<td>{%= data[i]["Age"] %}</td>
				<td>{%= data[i]["Type of visit"] %}</td>
				<td>{%= data[i]["Breast feeding"] %}</td>
				<td>{%= data[i]["Stopped B/F"] %}</td>
				<td>{%= data[i]["Height"] %}</td>
				<td>{%= data[i]["Weight"] %}</td>
				<td>{%= data[i]["Nutritional Status"] %}</td>
				<td>{%= data[i]["Vitamin A supplement"] %}</td>
				<td>{%= data[i]["Children receive Deworming tablet"] %}</td>
				<td>{%= data[i]["Children referred/ admitted into CMAM program"] %}</td>
				<td>{%= data[i]["Eligible for SAM treatment"] %}</td>
				<td>{%= data[i]["Outcome of Treatment"] %}</td>

			</tr>
		{% } %}

		{% for(var i=0, l=20-data.length; i<l; i++) { %}
			<tr style="height: 20px;">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>

			</tr>
		{% } %}

	</tbody>
</table>

