<style type="text/css">
	.table thead tr th{
		text-align: center;
		width: 15%;
	}
	.table thead tr th p{
		transform: rotate(270deg);
    	margin: 42px -50px 3px !important;

	}
</style>

<h2 class="text-center">{%= __(report.report_name) %}</h2>
<hr>
<table class="table table-bordered">
	<thead>	

		<tr>
		    <th rowspan="2">Date</th>
		    <th rowspan="2">Client's Card no.</th>
		    <th rowspan="2">Client Age</th>
		    <th rowspan="2">Client Name</th>
		    <th rowspan="2">Client Follow Up Address</th>
		    <th rowspan="2">Client GSM Number</th>
		    <th colspan="5">TETANUS TOXOID</th>
		    <th rowspan="2">Comments</th>
		  </tr>
		  <tr>
		    <th>TT1</th>
		    <th>TT2</th>
		    <th>TT3</th>
		    <th>TT4</th>
		    <th>TT5</th>
		  </tr>
	</thead>

	<tbody>
		{% for(var i=0, l=data.length; i<l; i++) { %}
			<tr>
				<td>{%= i+1 %}</td>
				<td>{%= data[i]["Date"] %}</td>
				<td>{%= data[i]["Client's Card no."] %}</td>
				<td>{%= data[i]["Client Age"] %}</td>
				<td>{%= data[i]["Client Name"] %}</td>
				<td>{%= data[i]["Client Follow Up Address"] %}</td>
				<td>{%= data[i]["Client GSM Number"] %}</td>
				<td>{%= data[i]["TT1"] %}</td>
				<td>{%= data[i]["TT2"] %}</td>
				<td>{%= data[i]["TT3"] %}</td>
				<td>{%= data[i]["TT4"] %}</td>
				<td>{%= data[i]["TT5"] %}</td>
				<td>{%= data[i]["Comments"] %}</td>

			</tr>
		{% } %}

		{% for(var i=0, l=20-data.length; i<l; i++) { %}
			<tr style="height: 20px;">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				
			</tr>
		{% } %}

	</tbody>
</table>

