<style type="text/css">
	.table thead tr th{
		text-align: center;
		width: 15%;
	}
	.table thead tr th p{
		transform: rotate(270deg);
    	margin: 28px -50px 3px !important;

	}
</style>

<h2 class="text-center">{%= __(report.report_name) %}</h2>
<hr>
<table class="table table-bordered">
	<thead>	

		<tr>
		    <th rowspan="2">Date</th>
		    <th rowspan="2">Name of patient/client</th>
		    <th rowspan="2">Patient/client card number</th>
		    <th rowspan="2">Date of birth</th>
		    <th rowspan="2">Male</th>
		    <th rowspan="2">Female</th>
		    <th rowspan="2">Contact address</th>
		    <th rowspan="2">State of origin</th>
		    <th rowspan="2">Telephone no.</th>
		    <th rowspan="2">First contact with facility</th>
		    <th rowspan="2"><p>Referred in</p></th>
		    <th colspan="4">Information on next of kin</th>
		  </tr>
		  <tr>
		    <th>Name</th>
		    <th>Relationship with client</th>
		    <th>Contact address</th>
		    <th>Telephone no.</th>
		  </tr>
	</thead>

	<tbody>
		{% for(var i=0, l=data.length; i<l; i++) { %}
			<tr>
				<td>{%= i+1 %}</td>
				<td>{%= data[i]["Date"] %}</td>
				<td>{%= data[i]["Name of patient/client"] %}</td>
				<td>{%= data[i]["Patient/client card number"] %}</td>
				<td>{%= data[i]["Date of birth"] %}</td>
				<td>{%= data[i]["Male"] %}</td>
				<td>{%= data[i]["Female"] %}</td>
				<td>{%= data[i]["Contact address"] %}</td>
				<td>{%= data[i]["State of origin"] %}</td>
				<td>{%= data[i]["Telephone no."] %}</td>
				<td>{%= data[i]["First contact with facility"] %}</td>
				<td>{%= data[i]["Referred in"] %}</td>
				<td>{%= data[i]["Name"] %}</td>
				<td>{%= data[i]["Relationship with client"] %}</td>
				<td>{%= data[i]["Contact address"] %}</td>
				<td>{%= data[i]["Telephone no."] %}</td>

			</tr>
		{% } %}

		{% for(var i=0, l=20-data.length; i<l; i++) { %}
			<tr style="height: 20px;">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				
			</tr>
		{% } %}

	</tbody>
</table>

