<style type="text/css">
	.table thead tr th{
		text-align: center;
	}
</style>

<h2 class="text-center">{%= __(report.report_name) %}</h2>
<hr>
<table class="table table-bordered">
	<thead>	

		<tr>
			<th style="width: 15%" rowspan="3">{%= __("S/N") %}</th>
			<th style="width: 15%" rowspan="3">Date</th>
		    <th style="width: 15%" rowspan="3">Name of patient</th>
		    <th style="width: 15%" rowspan="3">Patient number</th>
		    <th style="width: 15%" rowspan="3">Sex</th>
		    <th style="width: 15%" rowspan="3">Age</th>
		    <th style="width: 15%" rowspan="3">Type of attendance</th>
		    <th style="width: 15%" rowspan="3">Presenting complaint</th>
		    <th style="width: 15%" rowspan="3">Diagnosis</th>
		    <th style="width: 15%" rowspan="3">Type of laboratory investigation done</th>
		    <th style="width: 15%" rowspan="3">Drugs given</th>
		    <th style="width: 15%" rowspan="3">Outcome of visits</th>
		    <th style="width: 15%" colspan="7">Malaria</th>
		</tr>
		<tr>
		    <th style="width: 15%" rowspan="2">Clinical Diagnosis Only</th>
		    <th style="width: 15%" colspan="2">Laboratory Diagnosis</th>
		    <th style="width: 15%" rowspan="2">Confirmed Uncomplicated Malaria</th>
		    <th style="width: 15%" rowspan="2">Severe Malaria</th>
		    <th style="width: 15%" rowspan="2">ACT given</th>
		    <th style="width: 15%" rowspan="2">Other Antimalarial given</th>
		</tr>
		<tr>
		    <th style="width: 15%">RDT</th>
		    <th style="width: 15%">Microscopy</th>
		</tr>
	</thead>

	<tbody>
		{% for(var i=0, l=data.length; i<l; i++) { %}
			<tr>
				<td>{%= i+1 %}</td>
				<td>{%= data[i]["Date"] %}</td>
				<td>{%= data[i]["Name of patient"] %}</td>
				<td>{%= data[i]["Patient number"] %}</td>
				<td>{%= data[i]["Sex"] %}</td>
				<td>{%= data[i]["Age"] %}</td>
				<td>{%= data[i]["Type of attendance"] %}</td>
				<td>{%= data[i]["Presenting complaint"] %}</td>
				<td>{%= data[i]["Diagnosis"] %}</td>
				<td>{%= data[i]["Type of laboratory investigation done"] %}</td>
				<td>{%= data[i]["Drugs given"] %}</td>
				<td>{%= data[i]["Outcome of visits"] %}</td>
				<td>{%= data[i]["Clinical Diagnosis Only"] %}</td>
				<td>{%= data[i]["RDT"] %}</td>
				<td>{%= data[i]["Microscopy"] %}</td>
				<td>{%= data[i]["Confirmed Uncomplicated Malaria"] %}</td>
				<td>{%= data[i]["Severe Malaria"] %}</td>
				<td>{%= data[i]["ACT given"] %}</td>
				<td>{%= data[i]["Other Antimalarial given"] %}</td>

			</tr>
		{% } %}

		{% for(var i=0, l=25-data.length; i<l; i++) { %}
			<tr style="height: 20px;">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>

			</tr>
		{% } %}

	</tbody>
</table>

{%= console.log(data[0]) %}
<br><br><br>
<br><br><br>


<table class="table table-bordered">
	<thead>	

	  <tr>
	    <th style="width: 15%" colspan="6">HIV counseling and testing</th>
	    <th style="width: 15%" colspan="4">HIV clinical care &amp; treatment</th>
	    <th style="width: 15%" colspan="4">SRH/HIV Integration</th>
	    <th style="width: 15%" colspan="3">TB/HIV</th>
	  </tr>
	  <tr>
	    <th style="width: 15%" colspan="2">Male</th>
	    <th style="width: 15%" colspan="2">Female Non-pregnant</th>
	    <th style="width: 15%" rowspan="2">Couple Counselling &amp; Testing</th>
	    <th style="width: 15%" rowspan="2">Couple Sero-discordant Test</th>
	    <th style="width: 15%" colspan="2">HIV positive andreceiving CTX</th>
	    <th style="width: 15%" colspan="2">Receiving ARVrefill</th>
	    <th style="width: 15%" rowspan="2">HCT clients provided with SRH/HIV integrated Services</th>
	    <th style="width: 15%" rowspan="2">HCT client referred for FP method</th>
	    <th style="width: 15%" rowspan="2">HCT clients screened for STIs</th>
	    <th style="width: 15%" rowspan="2">HCT clients treated for STIs</th>
	    <th style="width: 15%" rowspan="2">Clinically screened for TB</th>
	    <th style="width: 15%" rowspan="2">TB clinical screening score</th>
	    <th style="width: 15%" rowspan="2">HIV positive recieving ART and TB treatment</th>
	  </tr>
	  <tr>
	    <th style="width: 15%">HIV counsel, test &amp; result</th>
	    <th style="width: 15%">HIV test result: positive</th>
	    <th style="width: 15%">HIV counsel, test &amp; result</th>
	    <th style="width: 15%">HIV test result: positive</th>
	    <th style="width: 15%">Male</th>
	    <th style="width: 15%">Female</th>
	    <th style="width: 15%">Male</th>
	    <th style="width: 15%">Female</th>
	  </tr>
	</thead>

	<tbody>
		{% for(var i=0, l=data.length; i<l; i++) { %}
			<tr>
				<td>{%= data[i]["HIV counsel, test & result"] %}</td>
				<td>{%= data[i]["HIV test result: positive"] %}</td>
				<td>{%= data[i]["HIV counsel, test & result"] %}</td>
				<td>{%= data[i]["HIV test result: positive"] %}</td>
				<td>{%= data[i]["Couple Counselling & Testing"] %}</td>
				<td>{%= data[i]["Couple Sero-discordant Test"] %}</td>
				<td>{%= data[i]["Male"] %}</td>
				<td>{%= data[i]["Female"] %}</td>
				<td>{%= data[i]["Male"] %}</td>
				<td>{%= data[i]["Female"] %}</td>
				<td>{%= data[i]["HCT clients provided with SRH/HIV integrated Services"] %}</td>
				<td>{%= data[i]["HCT client referred for FP method"] %}</td>
				<td>{%= data[i]["HCT clients screened for STIs"] %}</td>
				<td>{%= data[i]["HCT clients treated for STIs"] %}</td>
				<td>{%= data[i]["Clinically screened for TB"] %}</td>
				<td>{%= data[i]["TB clinical screening score"] %}</td>
				<td>{%= data[i]["HIV positive recieving ART and TB treatment"] %}</td>

			</tr>
		{% } %}


		{% for(var i=0, l=25-data.length; i<l; i++) { %}
			<tr style="height: 20px;">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>

			</tr>
		{% } %}

	</tbody>
</table>