<style type="text/css">
	.table thead tr th{
		text-align: center;
		width: 15%;
	}
	.table thead tr th p{
		transform: rotate(270deg);
    	margin: 63px -50px 3px !important;

	}
</style>

<h2 class="text-center">{%= __(report.report_name) %}</h2>
<hr>
<table class="table table-bordered">
	<thead>	

		<tr>
		    <th rowspan="3">S/N</th>
		    <th rowspan="3">Date</th>
		    <th rowspan="3">Name of Client</th>
		    <th rowspan="3">Client Number</th>
		    <th rowspan="3">Address / Telephone number</th>
		    <th rowspan="3">Sex</th>
		    <th rowspan="3">Age</th>
		    <th rowspan="3"><p>Source</p></th>
		    <th rowspan="3"><p>Parity</p></th>
		    <th rowspan="3"><p>Counselled on FP</p></th>
		    <th colspan="3" rowspan="2">ORAL PILLS</th>
		    <th colspan="2" rowspan="2">INJECTION</th>
		    <th colspan="2" rowspan="2">IUCD</th>
		    <th colspan="3" rowspan="2">CONDOMS</th>
		    <th colspan="4" rowspan="2">IMPLANT</th>
		    <th rowspan="3"><p>STERILISATION</p></th>
		    <th colspan="2" rowspan="2">NATURAL METHODS</th>
		    <th colspan="6" rowspan="2">NO. OF REFERRAL</th>
		    <th rowspan="3"><p>FP Clients accessed HCT service</p></th>
		    <th colspan="4">HIV counseling and testing (at FP clinic)</th>
		  </tr>
		  <tr>
		    <th colspan="2">Male</th>
		    <th colspan="2">Female Non-pregnant</th>
		  </tr>
		  <tr>
		    <th>Name of pill</th>
		    <th>Administering Type</th>
		    <th>QTY</th>
		    <th>Name of Injectable</th>
		    <th>Administering Type</th>
		    <th>IN</th>
		    <th>OUT</th>
		    <th>Type of Condom</th>
		    <th>Administering Type</th>
		    <th>QTY</th>
		    <th>Type of Implant</th>
		    <th>IN</th>
		    <th>OUT</th>
		    <th>Revisit</th>
		    <th>CYCLE BEADS</th>
		    <th>OTHERS</th>
		    <th>OR</th>
		    <th>IJ</th>
		    <th>IP</th>
		    <th>IUCD</th>
		    <th>SR</th>
		    <th>MR</th>
		    <th>HIV counsel, test &amp; result</th>
		    <th>HIV test result: positive</th>
		    <th>HIV counsel, test &amp; result</th>
		    <th>HIV test result: positive</th>
		  </tr>
	</thead>

	<tbody>
		{% for(var i=0, l=data.length; i<l; i++) { %}
			<tr>
				<td>{%= i+1 %}</td>
				<td>{%= data[i]["Date"] %}</td>
				<td>{%= data[i]["Name of Client"] %}</td>
				<td>{%= data[i]["Client Number"] %}</td>
				<td>{%= data[i]["Address / Telephone number"] %}</td>
				<td>{%= data[i]["Sex"] %}</td>
				<td>{%= data[i]["Age"] %}</td>
				<td>{%= data[i]["Source"] %}</td>
				<td>{%= data[i]["Parity"] %}</td>
				<td>{%= data[i]["Counselled on FP"] %}</td>
				<td>{%= data[i]["Name of pill"] %}</td>
				<td>{%= data[i]["Administering Type"] %}</td>
				<td>{%= data[i]["Quantity given"] %}</td>
				<td>{%= data[i]["Name of Injectable"] %}</td>
				<td>{%= data[i]["Administering Type"] %}</td>
				<td>{%= data[i]["IN"] %}</td>
				<td>{%= data[i]["OUT"] %}</td>
				<td>{%= data[i]["Type of Condom"] %}</td>
				<td>{%= data[i]["Administering Type"] %}</td>
				<td>{%= data[i]["Quantity given"] %}</td>
				<td>{%= data[i]["Type of Implant"] %}</td>
				<td>{%= data[i]["IN"] %}</td>
				<td>{%= data[i]["OUT"] %}</td>
				<td>{%= data[i]["Revisit"] %}</td>
				<td>{%= data[i]["STERILISATION"] %}</td>
				<td>{%= data[i]["CYCLE BEADS"] %}</td>
				<td>{%= data[i]["OTHERS"] %}</td>
				<td>{%= data[i]["OR"] %}</td>
				<td>{%= data[i]["IJ"] %}</td>
				<td>{%= data[i]["IUCD"] %}</td>
				<td>{%= data[i]["SR"] %}</td>
				<td>{%= data[i]["MR"] %}</td>
				<td>{%= data[i]["FP Clients accessed HCT service"] %}</td>
				<td>{%= data[i]["HIV counsel, test & result"] %}</td>
				<td>{%= data[i]["HIV test result: positive"] %}</td>
				<td>{%= data[i]["HIV counsel, test & result"] %}</td>
				<td>{%= data[i]["HIV test result: positive"] %}</td>

			</tr>
		{% } %}

		{% for(var i=0, l=30-data.length; i<l; i++) { %}
			<tr style="height: 20px;">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>

			</tr>
		{% } %}

	</tbody>
</table>

