<style type="text/css">
	.table thead tr th{
		text-align: center;
		width: 15%;
	}
	.table thead tr th p{
		transform: rotate(270deg);
    	margin: 42px -50px 3px !important;

	}
</style>

<h2 class="text-center">{%= __(report.report_name) %}</h2>
<hr>
<table class="table table-bordered">
	<thead>	

		<tr>
		    <th rowspan="3">S/N</th>
		    <th rowspan="3">Date</th>
		    <th rowspan="3">PHC Card No.</th>
		    <th rowspan="3">ANC Reg. No.</th>
		    <th rowspan="3">Unique ID</th>
		    <th rowspan="3">Pregnant Women time of HIV diagnosis</th>
		    <th rowspan="3">ART eligibility assesment</th>
		    <th rowspan="3">ARV Regimen at start</th>
		    <th colspan="12">ARV Regimen</th>
		    <th rowspan="3">HIV-exposed infant given SdNVP Within 72 hrs of life</th>
		    <th colspan="2" rowspan="2">HIV-exposed infant initiated on Cotrim.Prophylaxis</th>
		    <th rowspan="3">HIV-exposed infant on ARV prophylaxis and Breastfeeding</th>
		    <th colspan="3" rowspan="2">Infants tested for HIV</th>
		  </tr>
		  <tr>
		    <th colspan="10">At ANC</th>
		    <th rowspan="2">In Labour</th>
		    <th rowspan="2">Breast Feeding</th>
		  </tr>
		  <tr>
		    <th>Month 0</th>
		    <th>Month 1</th>
		    <th>Month 2</th>
		    <th>Month 3</th>
		    <th>Month 4</th>
		    <th>Month 5</th>
		    <th>Month 6</th>
		    <th>Month 7</th>
		    <th>Month 8</th>
		    <th>Month 9</th>
		    <th>&lt;2month</th>
		    <th>2 months &amp; above</th>
		    <th>DNA-PCR</th>
		    <th>HIV Rapid test</th>
		    <th>HIV-exposed infant tested HIV- negative to HIV Rapid test at 18 months</th>
		  </tr>
	</thead>

	<tbody>
		{% for(var i=0, l=data.length; i<l; i++) { %}
			<tr>
				<td>{%= i+1 %}</td>
				<td>{%= data[i]["Date"] %}</td>
				<td>{%= data[i]["PHC Card No."] %}</td>
				<td>{%= data[i]["ANC Reg. No."] %}</td>
				<td>{%= data[i]["Unique ID"] %}</td>
				<td>{%= data[i]["Pregnant Women time of HIV diagnosis"] %}</td>
				<td>{%= data[i]["ART eligibility assesment"] %}</td>
				<td>{%= data[i]["ARV Regimen at start"] %}</td>
				<td>{%= data[i]["Month 0"] %}</td>
				<td>{%= data[i]["Month 1"] %}</td>
				<td>{%= data[i]["Month 2"] %}</td>
				<td>{%= data[i]["Month 3"] %}</td>
				<td>{%= data[i]["Month 4"] %}</td>
				<td>{%= data[i]["Month 5"] %}</td>
				<td>{%= data[i]["Month 6"] %}</td>
				<td>{%= data[i]["Month 7"] %}</td>
				<td>{%= data[i]["Month 8"] %}</td>
				<td>{%= data[i]["Month 9"] %}</td>
				<td>{%= data[i]["In Labour"] %}</td>
				<td>{%= data[i]["Breast Feeding"] %}</td>
				<td>{%= data[i]["HIV-exposed infant given SdNVP Within 72 hrs of life"] %}</td>
				<td>{%= data[i]["<2month"] %}</td>
				<td>{%= data[i]["2 months & above"] %}</td>
				<td>{%= data[i]["HIV-exposed infant on ARV prophylaxis and Breastfeeding"] %}</td>
				<td>{%= data[i]["DNA-PCR"] %}</td>
				<td>{%= data[i]["HIV Rapid test"] %}</td>
				<td>{%= data[i]["HIV-exposed infant tested HIV- negative to HIV Rapid test at 18 months"] %}</td>
				
			</tr>
		{% } %}

		{% for(var i=0, l=30-data.length; i<l; i++) { %}
			<tr style="height: 20px;">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				
			</tr>
		{% } %}

	</tbody>
</table>

